.root {
-fx-background-color: #9EA3BF;
}
.button{
-fx-alignment: center;
-fx-border-color: black;
-fx-background-color: black;
-fx-text-fill: white;
-fx-font-family: "Arial, Helvetica, sans-serif";
-fx-font-size: 16px;
-fx-min-width: 90px;
-fx-min-height: 100px;
}

.skilabod{
-fx-font-family: "Arial, Helvetica, sans-serif";
-fx-font-size: 20px;
-fx-min-width: 300px;
-fx-min-height: 50px;
-fx-max-height: 50px;
-fx-alignment: center;
-fx-background-color: grey;
-fx-border-color: black;

}
.odd, .even{
-fx-font-family: "Times New Roman", Times, serif;
-fx-font-size: 20px;
-fx-font-weight: bold;
-fx-alignment: center;
-fx-min-width: 90px;
-fx-min-height: 90px;
-fx-border-color: black;
}
.odd{
-fx-background-color: #D05B25;

}
.even{
-fx-background-color: #F6BDE8;
}

.slanga, .stigi, .spilabakid, .eiturmyndin{
-fx-background-position: left;
-fx-padding: 20px;
-fx-background-size: 50px 50px;
-fx-background-repeat: no-repeat;
-fx-alignment: center-right;
-fx-min-width: 90px;
-fx-min-height: 90px;

}
.slanga{
-fx-background-image: url("PNG/snake.png");

}
.stigi{
-fx-background-image: url("PNG/ladder.png");

}
.eiturmyndin{
-fx-background-image: url("PNG/eitur.png");
}
.spilabakid{
-fx-background-image: url("SpilMyndir/spilabak.PNG");
}
.blue, .green, bluegreen{
-fx-background-size: cover;
-fx-background-position: center;
-fx-background-repeat: no-repeat;
-fx-min-width: 90px;
-fx-min-height: 90px;
}

.blue{
-fx-background-image: url("PNG/BlueStickMan.png");

}
.green{
-fx-background-image: url("PNG/GreenStickMan.png");
}
.bluegreen{
-fx-background-image: url("PNG/bluegreen.png");
}