.one, .two, .three, .four, .five, .six, .mh1, .mh2, .mh3, .mh4, .mh5, .mh6{
-fx-background-size: cover;
-fx-background-position: center;
-fx-background-repeat: no-repeat;
-fx-min-width: 100px;
-fx-min-height: 100px;
-fx-background-color: #9EA3BF;
}
.one{
-fx-background-image: url("PNG/one.png");
}
.two{
-fx-background-image: url("PNG/two.png");
}
.three{
-fx-background-image: url("PNG/three.png");
}
.four{
-fx-background-image: url("PNG/four.png");
}
.five{
-fx-background-image: url("PNG/five.png");
}
.six{
-fx-background-image: url("PNG/six.png");
}
.mh1{
-fx-background-image: url("PNG/mh1.png");
}
.mh2{
-fx-background-image: url("PNG/mh2.png");
}
.mh3{
-fx-background-image: url("PNG/mh3.png");
}
.mh4{
-fx-background-image: url("PNG/mh4.png");
}
.mh5{
-fx-background-image: url("PNG/mh5.png");
}
.mh6{
-fx-background-image: url("PNG/mh6.png");
}
